body{
    background: black;
}
#all_ele{
    background-color: black;
    margin: 0px;
    width: 1400px;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    /* position: fixed; */
    /* z-index: -1; */
}


#container {
    display: flex;
    width: 1250px;
    margin-top: 5px;
}

#header{
    background-image: linear-gradient(to left, red 10%,black 25%);
    width: 100%;
    line-height: 30px;
    opacity: 0.8;
}

#title{
    color: red;
    font-size: 20px;
    font-weight: bolder;
}


#sidebar{
    /* background-color: #fff; */
    width: 200px;
    min-height: 1210px;
    float:left;
    border-width: 0px;
    border-right: 1px;
    border-color: grey;
    border-style: solid;
}

#sidebar .side{
    margin-top: 20px;
    padding-left: 90px;
    padding-right: 10px;
    font-size: 16px;
    font-weight: bold;
}
#sidebar .side:hover{
    cursor: pointer;
}
#linesearch{
    display: none;
}

#hometext{
    color: red;
    margin-bottom: 15px;
}
#searchtext{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.line{
    /* margin-top: 20px; */
    background-color: grey;
    height: 1px;
    margin-left: 80px;
}


#mainbox {
    min-height:1240px;
    margin-bottom: 0px;
}

.infoel{
    /* background-color: red; */
    margin-left: 100px;
    margin-top: 20px;
    width: 780px; 
    text-align: center;
    font-size: 24px;
    color: white;
}
.eletitle{
    margin-bottom: 10px;
}
#el2{
    margin-top: 80px;
}
.poster{
    background-image: url(movie-placeholder.jpg);
    width: 780px;
    height: 436px;
    z-index: -1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

@keyframes change {
    0% {opacity: 0;}
    20% {opacity: 0.6;}
    40% {opacity: 0.8;}
    80% {opacity: 1;}
    100% {opacity: 1;}
}

.intro{
    text-align: center;
    background-color: black;
    color: white;
    height: 80px;
    opacity:0.8;
    line-height: 80px;
    width: 100%;
    font-size: 20px;
}


#footer{
    margin-top: 0px;
    background-color: red;
    width: 1200px;
    text-align: right;
    margin-left: 6px;
    margin-right: 6px;
    height: 40px;
    opacity: 0.6;
    /* line-height: 50px; */
}
#footer p{
    padding-top: 6px;
    color: white;
    margin-right:5px ;
    font-style: italic;
    font-size: 12px;
}

/* for searchbox */
#searchbox{
    display: none;
}
.search_opt{
    color: white;
    width: 1000px;
    height: 300px;
    margin-left: 10px;
    background-image: linear-gradient(to bottom, red 8%,black 80%);
    opacity: 0.9;
}

.form {
    margin-left: 350px;
}
.search_title{
    font-size: 16px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom:30px;
}
#keyword{
    width: 300px;
}
#keyword_lab{
    padding-bottom: 20px;

}
.groups{
    padding-bottom: 20px;
}

.btn{
    background-color: black;
    border: black;
    border-radius: 2px;
    color: white;
    width: 64px;
    height: 26px;
}
.btn:hover{
    background-color: red;

}
.btn_search{
    margin-left: 100px;
}
.clear{
    margin-left: 40px;
}

#nores{
    /* display: none; */
    margin-top: 90px;
    text-align: center;
    color: white;
    display: none;
    opacity: 0.8;
    
}

#search_res{
    /* background: black; */
    display: none;
}

#have_res{
    color: white;
}

.res_ele{
    
    height: 300px;
    width: 1000px;
    border-left: red solid 10px;
    margin: 10px;
    display: flex;
    color: white;
}
.res_left{
    width: 185px;
    height: 275px;
    margin: 10px;
    flex-shrink: 0
}
.res_right{
    font-size: 16px;
    margin-top: 10px;
}
.stitle{
    font-size: 24px;
    font-weight: bolder;

}
.year_type{
    opacity: 0.8;
    margin-top: 20px;
}
.grade{
    color:red;
}
.votes{
    color: white;
    opacity: 0.9;
}
.sreview{
 margin-top: 20px;
 word-wrap: break-word;
 max-height: 100px;
 opacity: 0.8;
 -webkit-line-clamp: 4;
 -webkit-box-orient: vertical;
 text-overflow: ellipsis;
 overflow: hidden;
 display: -webkit-box;
}
.res_right button{
    margin-top: 20px;
    background-color: red;
    border: red;
    height: 36px;
    width: 110px;
    line-height: 36px;
    border-radius: 5px;
    color: white;
    opacity: 0.9;
    font-size: 16px;
    font-weight: 500;
}



/* for details */
#detail_all{
    margin: auto;
    width: 850px;
    min-height: 1200px;
    padding-left: 80px;
    z-index: 2;
    background-color: #cacaca;
    display: none;
    padding-bottom: 20px;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    margin-top: 64px;
}


#big_poster{
    width: 780px;
    height: 450px;
    background-repeat: no-repeat;
    flex: auto;
    float: left;
    margin: 20px 20px 25px 0px;
    
}


#detail_btn{
    margin: 10px 20px 0px 0px;
    float: right;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: transparent;  
    text-shadow: 0 0 0 gray;
    font-size: 16px;
    opacity: 0.4;
}
#detail_btn:hover{
    color: black;
    opacity: 1;
}


#detail_other{
    width: 780px;
    min-height: 800px;
}

.d_title{
    font-size: 25px;
}
#d_link{
    font-size: 12px;
    text-decoration: none;
    color: red;
}

#d_grade{
    color: red;
}

#d_year_type{
    margin-top: 24px;
    margin-bottom:16px;
}
#d_review{
    margin-top: 24px;
    margin-bottom: 16px;
}
#lag{
    font-style: italic;
    margin-bottom: 16px;
}
#cast_title{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}
#cast_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cast_ele{
    text-align: center;
    width: 185px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}
.cast_img{
    background-image: url(person-placeholder.png);
    width: 185px;
    height: 277px;
}
.cast_name{
    margin-top: 4px;
    font-weight: bolder;
}
.character{
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
}

#rev_title{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
}

.rev_ele{
    /* margin-bottom: 16px; */
    padding-bottom: 36px;
}
.rev_ur{
    margin-bottom: 10px;
}
.rev_user{
    font-weight: bolder;
}
.rev_rating{
    color: red;
}
.rev_date{
    font-style: italic;
}
.rev_content{
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
}
.line_container{
    margin-top: 14px;
    padding-left: 60px;
    padding-right: 60px;
}
.rev_line{
    background-color: grey;
    height: 1px;
    padding-left: 20px;
    opacity: 0.6;
}






